{% extends 'base.login.html.twig' %}

{% block body %}
    <div class="form-signin w-100 m-auto text-center">
        <a href="/" style="color:black;text-decoration:none"><img class="mb-4" src="/img/person-skiing-solid.svg" alt="" style='width:40px; height:40px'>&nbsp; <p style="line-height:40px;"> <b>Ski Club de Bogève et Viuz en Sallaz</b></p></a> 
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('app_login') }}" method="post">

            <div class="form-floating">
              <input type="email" class="form-control" id="username" name="_username" value="{{ last_username }}"required>
              <label for="username">Email</label>
            </div>
           <div class="clearfix">&nbsp;</div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" name="_password" required>
                <label for="password">Mot de passe</label>
            </div>
            <div class="clearfix">&nbsp;</div>
             <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Connexion</button>
        </form>
    </div>

{% endblock %}