{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
<!--<div class="container text-center">
    <div class="alert alert-danger" role="alert">
      A simple danger alert—check it out!
    </div>
</div>-->

<div class="container text-center">
<div class="row">
  {% for group in groups %}
  <div class="col-4">
    <ul class="list-group">
    <li class="list-group-item list-group-item-secondary" aria-current="true">{{group}}</li>
    {% for child in group.children %}
    <li class="list-group-item">{{child}}</li>
    {% endfor %}
  </ul>
  </div>
  {% endfor %}
</div>
  </div>



{% endblock %}
