{% extends 'base.html.twig' %}

{% block title %}Ski Club de Bogève et Viuz en Sallaz - Error{% endblock %}

{% block body %}


<div class="container">
  <div class="container text-center">
      <div class="alert alert-danger" role="alert">
        Une erreur s'est produite
      </div>
  </div>
</div>

{% endblock %}